<header class="header">Todo List using NgRx</header>
<main class="content">
    <header class="form">
        <form class="todo-form"
              [formGroup]="todoForm">
            <mat-form-field subscriptSizing="dynamic">
                <input matInput
                       placeholder="Add new todo"
                       formControlName="todo">
            </mat-form-field>
            <button mat-raised-button
                    (click)="addTodo()"
                    color="primary">Primary</button>
        </form>
    </header>
    <header class="categories">
        <li class="todo-categories">
            <ul class="todo-categories--state active">
                All({{(todos$ | async)!.length}})
            </ul>
            <ul class="todo-categories--state">
                New({{newTodosCount$ | async}})
            </ul>
            <ul class="todo-categories--state">
                Active({{activeTodosCount$ | async}})
            </ul>
            <ul class="todo-categories--state">
                Complete({{completeTodosCount$ | async}})
            </ul>
            <ul class="todo-categories--state">
                Postponed({{postponedTodosCount$ | async}})
            </ul>
        </li>
    </header>
    <section>
        <div class="todo"
             *ngFor="let todo of (todos$ | async)!">
            <div class="todo--title">{{todo.todo}}</div>
            <div class="todo--actions">
                <button class="action action--new"
                        (click)="markTodoAsNew(todo.id)">New</button>
                <button class="action action--active"
                        (click)="markTodoAsActive(todo.id)">Active</button>
                <button class="action action--complete"
                        (click)="markTodoAsComplete(todo.id)">Complete</button>
                <button class="action action--postponed"
                        (click)="markTodoAsPostponed(todo.id)">Postponed</button>
            </div>
        </div>
    </section>
</main>